/*Reset Style*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}
/**/

body {
    background-color: rgb(34, 33, 43);
}

p{
    text-align: center;
}
  
h1 {
    color: white;
    font-size: 50px;
    vertical-align: middle;
}


.topBar{
    margin: 0;
	padding: 0;
	border: 0;
    
    background-color: black;
    text-align: center;

    width:100%;
    height:100px;
    line-height: 5em;
}

.bodyDiv {
    border: 5px outset black;
    margin: 3% 10% 1% 10%;
    display: block;
    background-color: grey ;
    text-align: center;
}

.buttonDiv{
    /* display:inline-block;
    height: 50px;
    width: 80px;
    border: 5px solid black; */
    /* position: relative; */

    margin-left: 5%;
    margin-right: 5%;

    height: 100px;

    line-height: 3em;
}

.hyperspan {

    display:inline-block;
    height: 50px;
    width: 10%;
    border: 5px solid black;
    
    position:relative;
    left:0;
    top:0;
    z-index: 1;

    background: coral;
    color: cyan;
    font-weight: bold;
    vertical-align: middle;
    
    font-size: 1.5em;
    
    text-decoration: none;
}
.hyperspan:hover{
    background: rgb(255, 140, 98);
    color: rgb(116, 255, 255);
    font-size: 1.7em;
}
