/*Reset Style*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}
/**/

body {
    background-color: rgb(34, 33, 43);
}

p{
    text-align: center;
}
  
h1 {
    color: white;
    font-size: 50px;
    text-align: center;
}

.topBar{
    margin: 0;
	padding: 0;
	border: 0;
    background-color: black;
    text-align: center;
    display:block;
    width:100%;
    height:100px;
}

.myDiv {
    /* border: 5px outset black; */
    background-color: black ;
    padding: 35px;
    text-align: center;
}

.bodyDiv {
    border: 5px outset black;
    margin: 1% 10% 1% 10%;
    background-color: grey ;
    text-align: center;
}