:root{
    --navBar-height: 80px;
}

body {
    background: rgb(34, 33, 43);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

body, p{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

header {
    background: black;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.cs-navBar{
    display: flex;
    height: var(--navBar-height);
}

.cs-navBar h1, ul{
    margin: auto 0;
    padding: 0 1vw;
    list-style-type: none;
}

.cs-navBar a{
    display: inline-block;
    color: white;
    line-height: 70px;
    margin: 5px 0;
    text-decoration: none;
    font-size: 1.5em;
}

.cs-navBar ul.linkButtons a{
    width: 100px;
    text-align: center;
}

.cs-navBar ul.highlight a:hover {
    color: cyan;
    border-bottom: 5px solid yellow;
}

.cs-navBar ul.socials{
    margin-left: auto;
}