/*Reset Style*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}
/**/

body {
    background-color: rgb(34, 33, 43);
}

/*Navigation Bar [Reorganization Due]*/
nav.ws-navbar{
    list-style-type: none;
    overflow: hidden;
    background-color: rgb(17, 17, 17);
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;

    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

nav.ws-navbar div.ws-navbuttons{
    display: block;
}

nav.ws-navbar div.ws-socials{
    text-align: right;
}
nav.ws-navbar div.ws-socials a{
    padding: 14px 6px;
}

nav.ws-navbar div.ws-socials a:hover{
    background-color: inherit;
}

nav.ws-navbar a{
    display: inline-block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.5em;
}

nav.ws-navbar a:hover {
    background-color: rgb(184, 184, 184);
}

nav.ws-navbar a i{
    color: white;
    font-size: 1em;
    padding: 2% 2%;
}

nav.ws-navbar a.ws-titlebutton{
    padding: 0;
    color: white;
    font-size: 3em;
    vertical-align: middle;
    float: left;
}
nav.ws-navbar a.ws-titlebutton:hover{
    background-color: inherit;
}
/*End Navigation Bar*/


main.ws-main {
    background-color: grey;
    width: 80%;
    margin-left: 10%;
}
main.ws-main div{
    height: 100%;
}
main.ws-main section{
    margin-left: 5%;
    margin-right: 5%;
    height: 100vmax;
    overflow: hidden;
    font-size: 1.5em;
}

footer.ws-footer{
    list-style-type: none;
    color: white;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(17, 17, 17);
    text-align: center;
    
    /*Fix Footer To Bottom
    position: fixed;
    bottom: 0;
    width: 100%;*/
}
